<template>
    <div>
        <header1></header1>

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-5">
                        <button class="btn btn-primary flex-fill"> + Create bot</button>
                    </div>

                </div><!-- .row -->
                <div class="card-head">
                    <h4 class="card-title">Live 3Commas trades feed</h4>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-10">
                        <div class="token-transaction card card-full-height">
                            <div class="token-overview">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="token-bonus token-bonus-sale">
                                            <span class="token-overview-title">+ 20% Sale Bonus</span>
                                            <span class="token-overview-value bonus-on-sale">15,000.00</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="token-bonus token-bonus-amount">
                                            <span class="token-overview-title">+ 30% Amount Bonus</span>
                                            <span class="token-overview-value bonus-on-amount">5,000.00</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="token-total">
                                            <span class="token-overview-title font-bold">Total BTC</span>
                                            <span class="token-overview-value token-total-amount text-primary">1,823,500.84</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-head">
                    <h4 class="card-title">Discover a bot configuration</h4>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="token-sales card card-full-height">
                            <div class="card-innr">
                                <ul class="progress-info">
                                    <li><span>Raised</span> 0</li>
                                    <li class="text-right"><span>TOTAL</span> 3</li>
                                </ul>
                                <div class="progress-bar">
                                    <div class="progress-percent" data-percent="28" style="width: 28%;"></div>
                                </div>
</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>USDI_BCHABC</h4>
                                </div>
                                <ul class="token-info-list">
                                    <li><span>Profit Per Day</span>+2.89%</li>
                                    <li><span>Day running</span>15.87</li>
                                    <li><span>Deals</span>8</li>
                                    <li><span>StopLoss</span><span class="badge badge-outline badge-xs badge-danger" style="min-width: 2px;">No</span></li>
                                    <li><span>Last edited</span>05/05/2019</li>
                                </ul>
                                <a href="#" class="btn btn-xs btn-success text-center"> View Config</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>BTC_ZIL</h4>
                                </div>
                                <ul class="token-info-list">
                                    <li><span>Profit Per Day</span>+2.89%</li>
                                    <li><span>Day running</span>15.87</li>
                                    <li><span>Deals</span>8</li>
                                    <li><span>StopLoss</span><span class="badge badge-outline badge-xs badge-danger" style="min-width: 2px;">No</span></li>
                                    <li><span>Last edited</span>05/05/2019</li>
                                </ul>
                                <a href="#" class="btn btn-xs btn-success text-center"> View Config</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>USDT_BNB</h4>
                                </div>
                                <ul class="token-info-list">
                                    <li><span>Profit Per Day</span>+2.89%</li>
                                    <li><span>Day running</span>15.87</li>
                                    <li><span>Deals</span>8</li>
                                    <li><span>StopLoss</span><span class="badge badge-outline badge-xs badge-danger" style="min-width: 2px;">No</span></li>
                                    <li><span>Last edited</span>05/05/2019</li>
                                </ul>
                                <a href="#" class="btn btn-xs btn-success text-center"> View Config</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>BTC_NCASH</h4>
                                </div>
                                <ul class="token-info-list">
                                    <li><span>Profit Per Day</span>+2.89%</li>
                                    <li><span>Day running</span>15.87</li>
                                    <li><span>Deals</span>8</li>
                                    <li><span>StopLoss</span><span class="badge badge-outline badge-xs badge-danger" style="min-width: 2px;">No</span></li>
                                    <li><span>Last edited</span>05/05/2019</li>
                                </ul>
                                <a href="#" class="btn btn-xs btn-success text-center"> View Config</a>
                            </div>
                        </div>
                    </div>

                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-content -->
        <footer1></footer1>
    </div>
</template>

<script>
    import header1 from "./header1.template";
    import footer1 from "./footer1.template";

    export default {
        name: 'comments',
        components: {
            'header1':header1,
            'footer1':footer1
        },
        data() {
            return {
                user: {},
                group: {},
            }
        },
        mounted() {



        },
        methods: {

        },

        created() {


        }
    };
</script>