<template>
    <div>
        <header1></header1>

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="card content-area">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Members</h4>
                                </div>
                            </div><!-- .card-innr -->
                        </div><!-- .card -->
                    </div><!-- .container -->

                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-content -->
        <footer1></footer1>
    </div>
</template>

<script>
    import header1 from "./header1.template";
    import footer1 from "./footer1.template";

    export default {
        name: 'comments',
        components: {
            'header1':header1,
            'footer1':footer1
        },
        data() {
            return {
                user: {},
                memberList: {},
            }
        },
        mounted() {



        },
        methods: {

        },

        created() {

        }
    };
</script>