<template>
    <div class="topbar-wrap">
        <div class="topbar is-sticky">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="topbar-nav d-lg-none">
                        <li class="topbar-nav-item relative">
                            <a class="toggle-nav" href="#">
                                <div class="toggle-icon">
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                    <span class="toggle-line"></span>
                                </div>
                            </a>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                    <a class="topbar-logo" href="./">
                        <img src="images/logo-light2x.png" srcset="images/logo-light2x.png 2x" alt="logo">
                    </a>
                    <ul class="topbar-nav">
                        <li class="topbar-nav-item relative">
                            <span class="user-welcome d-none d-lg-inline-block">Welcome! user </span>
                            <a class="toggle-tigger user-thumb" href="#"><em class="ti ti-user"></em></a>
                            <div class="toggle-class dropdown-content dropdown-content-right dropdown-arrow-right user-dropdown">
                                <div class="user-status">
                                    <h6 class="user-status-title">Name</h6>
                                    <div class="user-status-balance">Member Name</div>
                                </div>
                                <ul class="user-links">
                                    <li><a href="#"><i class="ti ti-id-badge"></i>My Profile</a></li>
                                    <li><a href="#"><i class="ti ti-infinite"></i>Referral</a></li>
                                    <li><a href="#"><i class="ti ti-eye"></i>Activity</a></li>
                                </ul>
                                <ul class="user-links bg-light">
                                    <li><a href="login"><i class="ti ti-power-off"></i>Logout</a></li>
                                </ul>
                            </div>
                        </li><!-- .topbar-nav-item -->
                    </ul><!-- .topbar-nav -->
                </div>
            </div><!-- .container -->
        </div><!-- .topbar -->

        <div class="navbar">
            <div class="container">
                <div class="navbar-innr">
                    <ul class="navbar-menu">
                        <li><a href="/"><em class="ikon ikon-dashboard"></em> Dashboard</a></li>
                        <li> <router-link  :to="{ name: 'SmartTradeView' }"><em class="ikon ikon-coins"></em><span>SmartTrade</span></router-link></li>
                        <li> <router-link  :to="{ name: 'BotsView' }"><em class="ikon ikon-coins"></em><span>Bots</span></router-link></li>
                        <li> <router-link  :to="{ name: 'MyBotsView' }"><em class="ikon ikon-coins"></em><span>MyBots</span></router-link></li>
                        <li> <router-link  :to="{ name: 'MyExchangesView' }"><em class="ikon ikon-coins"></em><span>Exchanges</span></router-link></li>
                        <li> <router-link  :to="{ name: 'MarketplaceView' }"><em class="ikon ikon-coins"></em><span>Marketplace</span></router-link></li>
                        <li> <router-link  :to="{ name: 'TradeDiaryView' }"><em class="ikon ikon-coins"></em><span>Trade Diary</span></router-link></li>
                        <li> <router-link  :to="{ name: 'SubscriptionView' }"><em class="ikon ikon-coins"></em><span>Subscription</span></router-link></li>
                        <li> <router-link  :to="{ name: 'InviteFriendsView' }"><em class="ikon ikon-coins"></em><span>Invite Friends</span></router-link></li>
                    </ul>
                </div><!-- .navbar-innr -->
            </div><!-- .container -->
        </div><!-- .navbar -->

    </div><!-- .topbar-wrap -->
</template>

<script>

    export default {
        data() {
            return {
                user: {},
            }
        },
        mounted() {
            if (localStorage.getItem('reloaded')) {
                // The page was just reloaded. Clear the value from local storage
                // so that it will reload the next time this page is visited.
                localStorage.removeItem('reloaded');
            } else {
                // Set a flag so that we know not to reload the page twice.
                localStorage.setItem('reloaded', '1');
                location.reload();
            }
        },


        created() {
            this.user = JSON.parse(localStorage.getItem('userProfile'));
        }
    };

</script>