<template>
    <div>
<header1></header1>

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height text-center">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>My Bots</h4>
                                    <p class="card-title-text">Active Bots: <strong>0</strong> of 0</p>
                                    <span class="note-text text-light">Today profit: $0/0 </span>
                                    <p class="card-title-text">Total: <strong>0</strong> of 0</p>
                                </div>

                                    <a href="#" class="btn btn-sm btn-danger"> + Create Bot</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height text-center">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>My Smart Trades</h4>
                                    <p class="card-title-text">Active ST: <strong>0</strong></p>
                                    <span class="note-text text-light">Today profit: $0/0 </span>
                                    <p class="card-title-text">Total: <strong>0</strong> of 0</p>
                                </div>

                                <a href="#" class="btn btn-sm btn-warning">+ Create new</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height text-center">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>Add More Exchanges</h4>
                                    <p class="card-title-text">You can conduct trades on multiple exchanges.3Commas supports over 14 exchanges.</p>
                                </div>

                                <a href="#" class="btn btn-sm btn-primary">Add exchange</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height text-center">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>Invite & earn</h4>
                                    <p class="card-title-text">1. Your friends pay 10% less for a subscription with this link <br> Your Earn up to 50% in total</p>
                                </div>
                                <a href="#" class="btn btn-sm btn-success">Invite Friends</a>
                            </div>
                        </div>
                    </div>

                </div><!-- .row -->
                <div class="row">

                    <div class="col-lg-12">
                        <div class="token-information card card-full-height">
                            <div class="row no-gutters height-100">
                    <div class="col-xl-8 col-lg-7">
                            <div class="card-innr">
                                <div class="card-head has-aside">
                                    <h4 class="card-title">Binance</h4>
                                    <div class="card-opt">
                                        <a href="#" class="link ucap link-light toggle-tigger toggle-caret">7 Days</a>
                                        <div class="toggle-class dropdown-content">
                                            <ul class="dropdown-list">
                                                <li><a href="#">30 days</a></li>
                                                <li><a href="#">1 years</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="chart-tokensale"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                    <canvas id="tknSale" width="670" height="190" style="display: block; width: 670px; height: 190px;"></canvas>
                                </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-md-2">
                        <div class="token-info bdr-tl">
                            <p class="card-title-text text-center">Total Portfolio Value</p>
                            <div>
                                <ul class="token-info-list">
                                    <li><span>BTC</span>0.031</li>
                                    <li><span>USD</span>271</li>
                                </ul>
                                <a href="#" class="btn btn-xs btn-primary">Sell to BTC</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="token-info bdr-tl">
                            <p class="card-title-text text-center">24hr Change</p>
                            <div>
                                <ul class="token-info-list">
                                    <li><span>BTC</span>0.031</li>
                                    <li><span>USD</span>271</li>
                                </ul>
                                <a href="#" class="btn btn-xs btn-primary">Sell to USD</a>
                            </div>
                        </div>
                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-10">
                        <div class="token-transaction card card-full-height">
                            <div class="card-innr">
                                <div class="card-head has-aside">
                                    <h4 class="card-title">Transaction</h4>
                                    <div class="card-opt">
                                        <a href="transactions.html" class="link ucap">View ALL <em class="fas fa-angle-right ml-2"></em></a>
                                    </div>
                                </div>
                                <table class="table tnx-table">
                                    <thead>
                                    <tr>
                                        <th>Tokens</th>
                                        <th>Shares</th>
                                        <th>Change %</th>
                                        <th>Price $</th>
                                        <th>Amount</th>
                                        <th>Total $</th>
                                        <th>Total $</th>
                                    </tr><!-- tr -->
                                    </thead><!-- thead -->
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">Tether</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">100</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">1.25%</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">1.0000</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                <span class="lead">3.543</span>
                                                <span class="sub">ETH <em class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-original-title="1 ETH = 590.54 USD"></em></span>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">0.03123234</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">18,750</span>
                                            </div>
                                        </td>
                                    </tr><!-- tr -->
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">StableUSD (USDS)</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">0.01</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">1.24%</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">1.0000</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                <span class="lead">3.543</span>
                                                <span class="sub">BTC <em class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-original-title="1 ETH = 590.54 USD"></em></span>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">0.03123234</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">175</span>
                                            </div>
                                        </td>
                                    </tr><!-- tr -->
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">Bitcoin (BTC)</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">0.01</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">0.56%</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">33.3791868</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span>
                                                <span class="lead">3.543</span>
                                                <span class="sub">ETH <em class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-original-title="1 ETH = 590.54 USD"></em></span>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">0.03123234</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="lead">170</span>
                                            </div>
                                        </td>
                                    </tr><!-- tr -->
                                    </tbody><!-- tbody -->
                                </table><!-- .table -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-head">
                    <h4 class="card-title">Live 3Commas trades feed</h4>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-10">
                        <div class="token-transaction card card-full-height">
                                <div class="token-overview">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="token-bonus token-bonus-sale">
                                                <span class="token-overview-title">+ 20% Sale Bonus</span>
                                                <span class="token-overview-value bonus-on-sale">15,000.00</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="token-bonus token-bonus-amount">
                                                <span class="token-overview-title">+ 30% Amount Bonus</span>
                                                <span class="token-overview-value bonus-on-amount">5,000.00</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="token-total">
                                                <span class="token-overview-title font-bold">Total BTC</span>
                                                <span class="token-overview-value token-total-amount text-primary">1,823,500.84</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="card-head">
                    <h4 class="card-title">Bots</h4>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>USDI_BCHABC</h4>
                                </div>
                                <ul class="token-info-list">
                                    <li><span>Profit Per Day</span>+2.89%</li>
                                    <li><span>Day running</span>15.87</li>
                                    <li><span>Deals</span>8</li>
                                    <li><span>StopLoss</span><span class="badge badge-outline badge-xs badge-danger" style="min-width: 2px;">No</span></li>
                                    <li><span>Last edited</span>05/05/2019</li>
                                </ul>
                                <a href="#" class="btn btn-xs btn-success text-center"> View Config</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>BTC_ZIL</h4>
                                </div>
                                <ul class="token-info-list">
                                    <li><span>Profit Per Day</span>+2.89%</li>
                                    <li><span>Day running</span>15.87</li>
                                    <li><span>Deals</span>8</li>
                                    <li><span>StopLoss</span><span class="badge badge-outline badge-xs badge-danger" style="min-width: 2px;">No</span></li>
                                    <li><span>Last edited</span>05/05/2019</li>
                                </ul>
                                <a href="#" class="btn btn-xs btn-success text-center"> View Config</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>USDT_BNB</h4>
                                </div>
                                <ul class="token-info-list">
                                    <li><span>Profit Per Day</span>+2.89%</li>
                                    <li><span>Day running</span>15.87</li>
                                    <li><span>Deals</span>8</li>
                                    <li><span>StopLoss</span><span class="badge badge-outline badge-xs badge-danger" style="min-width: 2px;">No</span></li>
                                    <li><span>Last edited</span>05/05/2019</li>
                                </ul>
                                <a href="#" class="btn btn-xs btn-success text-center"> View Config</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4>BTC_NCASH</h4>
                                </div>
                                <ul class="token-info-list">
                                    <li><span>Profit Per Day</span>+2.89%</li>
                                    <li><span>Day running</span>15.87</li>
                                    <li><span>Deals</span>8</li>
                                    <li><span>StopLoss</span><span class="badge badge-outline badge-xs badge-danger" style="min-width: 2px;">No</span></li>
                                    <li><span>Last edited</span>05/05/2019</li>
                                </ul>
                                <a href="#" class="btn btn-xs btn-success text-center"> View Config</a>
                            </div>
                        </div>
                    </div>

                </div><!-- .row -->
                <div class="card-head">
                    <h4 class="card-title">Choose a Portfolio to get complete analysis</h4>
                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <div class="token-information card card-full-height">
                            <div class="row no-gutters height-100">
                                <div class="col-xl-8 col-lg-7">
                                    <div class="card-innr">
                                        <div class="card-head has-aside">
                                            <h4 class="card-title">BLE Top 9 Even FOR Britterx</h4>
                                            <div class="card-opt">
                                                <a href="#" class="link ucap link-light toggle-tigger toggle-caret">7 Days</a>
                                                <div class="toggle-class dropdown-content">
                                                    <ul class="dropdown-list">
                                                        <li><a href="#">30 days</a></li>
                                                        <li><a href="#">1 years</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chart-tokensale"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                            <canvas id="tknSale" width="670" height="190" style="display: block; width: 670px; height: 190px;"></canvas>
                                        </div>
                                    </div><!-- .card -->
                                </div><!-- .col -->
                                <div class="col-md-2">
                                    <div class="token-info bdr-tl">
                                        <p class="card-title-text text-center">Day</p>
                                        <div>
                                            <ul class="token-info-list">
                                                <li><span>BTC</span>0.031</li>
                                                <li><span>USD</span>271</li>
                                            </ul>
                                            <a href="#" class="btn btn-xs btn-primary">Sell to BTC</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="token-info bdr-tl">
                                        <p class="card-title-text text-center">Month</p>
                                        <div>
                                            <ul class="token-info-list">
                                                <li><span>BTC</span>0.031</li>
                                                <li><span>USD</span>271</li>
                                            </ul>
                                            <a href="#" class="btn btn-xs btn-primary">Sell to USD</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <div class="token-information card card-full-height">
                            <div class="row no-gutters height-100">
                                <div class="col-xl-8 col-lg-7">
                                    <div class="card-innr">
                                        <div class="card-head has-aside">
                                            <h4 class="card-title">BLE Top 16 Even FOR Britterx</h4>
                                            <div class="card-opt">
                                                <a href="#" class="link ucap link-light toggle-tigger toggle-caret">7 Days</a>
                                                <div class="toggle-class dropdown-content">
                                                    <ul class="dropdown-list">
                                                        <li><a href="#">30 days</a></li>
                                                        <li><a href="#">1 years</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chart-tokensale"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                            <canvas id="tknSale" width="670" height="190" style="display: block; width: 670px; height: 190px;"></canvas>
                                        </div>
                                    </div><!-- .card -->
                                </div><!-- .col -->
                                <div class="col-md-2">
                                    <div class="token-info bdr-tl">
                                        <p class="card-title-text text-center">Day</p>
                                        <div>
                                            <ul class="token-info-list">
                                                <li><span>BTC</span>0.031</li>
                                                <li><span>USD</span>271</li>
                                            </ul>
                                            <a href="#" class="btn btn-xs btn-primary">Sell to BTC</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="token-info bdr-tl">
                                        <p class="card-title-text text-center">Month</p>
                                        <div>
                                            <ul class="token-info-list">
                                                <li><span>BTC</span>0.031</li>
                                                <li><span>USD</span>271</li>
                                            </ul>
                                            <a href="#" class="btn btn-xs btn-primary">Sell to USD</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .container -->
        </div><!-- .page-content -->
        <footer1></footer1>
    </div>
</template>

<script>
    import header1 from "./header1.template";
    import footer1 from "./footer1.template";

    export default {
        name: 'comments',
        components: {
            'header1':header1,
            'footer1':footer1
        },
        data() {
            return {
                user: {},
                group: {},
            }
        },
        mounted() {



        },
        methods: {

        },

        created() {


        }
    };
</script>