<template>
    <div>
        <header1></header1>

        <div class="page-content">
            <div class="container">
                <div class="card-head">
                    <h2 class="card-title">Start Earning with 3commas</h2>
                    <ul role="tablist" class="nav nav-tabs nav-tabs-line"><li class="nav-item"><a data-toggle="tab" href="#personal-data" class="nav-link active">Buy/Sell</a></li><li class="nav-item"><a data-toggle="tab" href="#settings" class="nav-link">All time</a></li><li class="nav-item"><a data-toggle="tab" href="#password" class="nav-link">Last 30 days</a></li><li class="nav-item"><a data-toggle="tab" href="#password" class="nav-link">Last 60 days</a></li></ul>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="token-statistics card card-token height-auto">
                            <div class="card-innr">
                                <div class="token-balance token-balance-with-icon">
                                    <div class="token-balance-icon">
                                        <img src="images/logo-light-sm.png" alt="logo">
                                    </div>
                                    <div class="token-balance-text">
                                        <h6 class="card-sub-title">Visitors</h6>
                                        <span class="lead">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="token-statistics card card-token height-auto">
                            <div class="card-innr">
                                <div class="token-balance token-balance-with-icon">
                                    <div class="token-balance-icon">
                                        <img src="images/logo-light-sm.png" alt="logo">
                                    </div>
                                    <div class="token-balance-text">
                                        <h6 class="card-sub-title">Referrals</h6>
                                        <span class="lead">0 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="token-statistics card card-token height-auto">
                            <div class="card-innr">
                                <div class="token-balance token-balance-with-icon">
                                    <div class="token-balance-icon">
                                        <img src="images/logo-light-sm.png" alt="logo">
                                    </div>
                                    <div class="token-balance-text">
                                        <h6 class="card-sub-title">Trial</h6>
                                        <span class="lead">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="token-statistics card card-token height-auto">
                            <div class="card-innr">
                                <div class="token-balance token-balance-with-icon">
                                    <div class="token-balance-icon">
                                        <img src="images/logo-light-sm.png" alt="logo">
                                    </div>
                                    <div class="token-balance-text">
                                        <h6 class="card-sub-title">Income</h6>
                                        <span class="lead">$0.0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- .row -->
                <div class="row">
                    <div class="container">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h5 class="card-title card-title-md">Invite your friends and family and receive free tokens</h5>
                                </div>
                                <div class="card-text">
                                    <p>Each member have a unique Crypto referral link to share with friends and family and receive a <strong>bonus - 15% of the value of their contribution</strong>.
                                        If any one sign-up with this link, will be added to your referral program.
                                        The referral link may be used during a token sales running.</p>
                                </div>
                                <div class="referral-form">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0 font-bold">Referral URL</h5>
                                        <a href="#" class="link link-primary link-ucap">See Your referral</a>
                                    </div>
                                    <div class="copy-wrap mgb-1-5x mgt-1-5x">
                                        <span class="copy-feedback"></span>
                                        <em class="fas fa-link"></em>
                                        <input type="text" class="copy-address" value="https://demo.themenio.com/tokenwiz?ref=7d264f90653733592" disabled="">
                                        <button class="copy-trigger copy-clipboard" data-clipboard-text="https://demo.themenio.com/tokenwiz?ref=7d264f90653733592"><em class="ti ti-files"></em></button>
                                    </div><!-- .copy-wrap -->
                                </div>
                                <ul class="share-links">
                                    <li>Share with : </li>
                                    <li><a href="#"><em class="fab fa-google-plus-g"></em></a></li>
                                    <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                    <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                    <li><a href="#"><em class="fab fa-linkedin-in"></em></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .container -->
        </div><!-- .page-content -->
        <footer1></footer1>
    </div>
</template>

<script>
    import header1 from "./header1.template";
    import footer1 from "./footer1.template";

    export default {
        name: 'comments',
        components: {
            'header1':header1,
            'footer1':footer1
        },
        data() {
            return {
                user: {},
                group: {},
            }
        },
        mounted() {



        },
        methods: {

        },

        created() {


        }
    };
</script>