<template>
    <div>
        <header1></header1>

        <div class="page-content">
            <div class="container">
                <div class="card-head">
                    <h2 class="card-title">Market Place</h2>
                    <button class="btn btn-xs btn-primary pull-right">My Subscriptions</button>
                </div>
                <div class="row">
                    <div class="main-content col-lg-12">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Filters</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-item input-with-label">
                                            <label  class="input-item-label">Exchange</label>
                                            <div class="select-wrapper">
                                                <select class="input-bordered">
                                                    <option value="option-one">All</option>
                                                    <option value="option-two">bcc</option>
                                                    <option value="option-three">etc</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Free/paid</label>
                                            <div class="select-wrapper">
                                                <select class="input-bordered">
                                                    <option value="option-one">All</option>
                                                    <option value="option-two">bcc</option>
                                                    <option value="option-three">etc</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-item input-with-label">
                                            <label  class="input-item-label">Scope</label>
                                            <div class="select-wrapper">
                                                <select class="input-bordered">
                                                    <option value="option-one">All</option>
                                                    <option value="option-two">bcc</option>
                                                    <option value="option-three">etc</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Sort by:</label>
                                            <div class="select-wrapper">
                                                <select class="input-bordered">
                                                    <option value="option-one">Most Subscribed</option>
                                                    <option value="option-two">bcc</option>
                                                    <option value="option-three">etc</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- .row -->
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr text-center">
                                <div class="card-head">
                                    <h4 class="card-title">Crypton Quality signals</h4>
                                    <img  src="images/logo-sm.png" alt="logo-sm">
                                </div>
                                <ul class="token-info-list">
                                    <li><span>$10,000 per month</span></li>
                                    <li><span>Binance and more</span></li>
                                    <li><span>5k+ subscribers</span></li>
                                    <li><span>100+ signals per week</span></li>
                                </ul>
                                <div class="token-buy">
                                    <a href="#" class="btn btn-primary">View stats</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr text-center">
                                <div class="card-head">
                                    <h4 class="card-title">Crypton Quality signals</h4>
                                    <img  src="images/logo-sm.png" alt="logo-sm">
                                </div>
                                <ul class="token-info-list">
                                    <li><span>$10,000 per month</span></li>
                                    <li><span>Binance and more</span></li>
                                    <li><span>5k+ subscribers</span></li>
                                    <li><span>100+ signals per week</span></li>
                                </ul>
                                <div class="token-buy">
                                    <a href="#" class="btn btn-primary">View stats</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr text-center">
                                <div class="card-head">
                                    <h4 class="card-title">Crypton Quality signals</h4>
                                    <img  src="images/logo-sm.png" alt="logo-sm">
                                </div>
                                <ul class="token-info-list">
                                    <li><span>$10,000 per month</span></li>
                                    <li><span>Binance and more</span></li>
                                    <li><span>5k+ subscribers</span></li>
                                    <li><span>100+ signals per week</span></li>
                                </ul>
                                <div class="token-buy">
                                    <a href="#" class="btn btn-primary">View stats</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr text-center">
                                <div class="card-head">
                                    <h4 class="card-title">Crypton Quality signals</h4>
                                    <img  src="images/logo-sm.png" alt="logo-sm">
                                </div>
                                <ul class="token-info-list">
                                    <li><span>$10,000 per month</span></li>
                                    <li><span>Binance and more</span></li>
                                    <li><span>5k+ subscribers</span></li>
                                    <li><span>100+ signals per week</span></li>
                                </ul>
                                <div class="token-buy">
                                    <a href="#" class="btn btn-primary">View stats</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="token-calculator card card-full-height">
                            <div class="card-innr text-center">
                                <div class="card-head">
                                    <h4 class="card-title">Crypton Quality signals</h4>
                                    <img  src="images/logo-sm.png" alt="logo-sm">
                                </div>
                                <ul class="token-info-list">
                                    <li><span>$10,000 per month</span></li>
                                    <li><span>Binance and more</span></li>
                                    <li><span>5k+ subscribers</span></li>
                                    <li><span>100+ signals per week</span></li>
                                </ul>
                                <div class="token-buy">
                                    <a href="#" class="btn btn-primary">View stats</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .container -->
        </div><!-- .page-content -->
        <footer1></footer1>
    </div>
</template>

<script>
    import header1 from "./header1.template";
    import footer1 from "./footer1.template";

    export default {
        name: 'comments',
        components: {
            'header1':header1,
            'footer1':footer1
        },
        data() {
            return {
                user: {},
                group: {},
            }
        },
        mounted() {



        },
        methods: {

        },

        created() {


        }
    };
</script>