<template>
    <div>
        <header1></header1>

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="main-content col-lg-8">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Main Settings</h4>
                                </div>
                                <div class="input-item input-with-label">
                                    <label class="input-item-label text-exlight">Name</label>
                                    <input class="input-bordered" type="text" value="New Bot">
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="input-item input-with-label">
                                        <label class="input-item-label">Exchange</label>
                                        <div class="select-wrapper">
                                            <select class="input-bordered">
                                                <option value="option-one">asa</option>
                                                <option value="option-two">Option Two</option>
                                                <option value="option-three">Option Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label class="input-item-label text-exlight">Bot type</label>
                                        <div class="row guttar-15px">
                                            <div class="col-6">
                                                <div class="pay-option">
                                                    <input class="pay-option-check" type="radio" id="simple" name="payOption" checked="">
                                                    <label class="pay-option-label" for="simple">
                                                        <span class="pay-title"><span class="pay-cur">Simple</span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="pay-option">
                                                    <input class="pay-option-check" type="radio" id="composite" name="payOption" checked="">
                                                    <label class="pay-option-label" for="composite">
                                                        <span class="pay-title"><span class="pay-cur">Composite</span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="aside sidebar-right col-lg-4">
                        <div class="token-sales card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#personal-data">Assitant</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#settings">Chart</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#password">Table</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="token-rate-wrap row">
                                    <div class="token-rate col-md-6 col-lg-12">
                                        <span class="card-sub-title"> Token Price</span>
                                        <h4 class="font-mid text-dark">1 ETH = <span>12500 BTC</span></h4>
                                    </div>
                                    <div class="token-rate col-md-6 col-lg-12">
                                        <span class="card-sub-title">Exchange Rate</span>
                                        <span>1 ETH = 196.98 USD = 0.032 BTC</span>
                                    </div>
                                    <button class="btn  btn-primary flex-fill">Create Bot</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- .row -->
                <div class="row">
                    <div class="main-content col-lg-8">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Pairs</h4>
                                </div>
                                <div>
                                    <label class="input-item-label text-exlight">Recommended pairs</label>
                                    <div class="row guttar-15px">
                                        <div class="col-2">
                                            <div class="pay-option">
                                                <input class="pay-option-check" type="radio" id="payl100" name="payOption" checked="">
                                                <label class="pay-option-label" for="payl100">
                                                    <span class="pay-title"><em class="pay-icon cf cf-eth"></em><span class="pay-cur">ETH</span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="pay-option">
                                                <input class="pay-option-check" type="radio" id="payl5" name="payOption">
                                                <label class="pay-option-label" for="payl5">
                                                    <span class="pay-title"><em class="pay-icon cf cf-ltc"></em><span class="pay-cur">LTC</span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="pay-option">
                                                <input class="pay-option-check" type="radio" id="payl10" name="payOption">
                                                <label class="pay-option-label" for="payl10">
                                                    <span class="pay-title"><em class="pay-icon cf cf-btc"></em><span class="pay-cur">BTC</span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="pay-option">
                                                <input class="pay-option-check" type="radio" id="payl25" name="payOption">
                                                <label class="pay-option-label" for="payl25">
                                                    <span class="pay-title"><em class="pay-icon fas fa-dollar-sign"></em><span class="pay-cur">USD</span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="pay-option">
                                                <input class="pay-option-check" type="radio" id="paydollar" name="payOption">
                                                <label class="pay-option-label" for="paydollar">
                                                    <span class="pay-title"><em class="pay-icon fas fa-dollar-sign"></em><span class="pay-cur">BNB</span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="pay-option">
                                                <input class="pay-option-check" type="radio" id="payl50" name="payOption">
                                                <label class="pay-option-label" for="payl50">
                                                    <span class="pay-title"><em class="pay-icon cf cf-eth"></em><span class="pay-cur">ETH</span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div><!-- .row -->
                                </div>
                                    <div class="input-item input-with-label">
                                        <label class="input-item-label">Pairs</label>
                                        <div class="select-wrapper">
                                            <select class="input-bordered">
                                                <option value="option-one"><em class="pay-icon cf cf-btc"></em> BTC - LINK</option>
                                                <option value="option-one"><em class="pay-icon cf cf-eth"></em> ETH - USD</option>
                                                <option value="option-one"><em class="pay-icon cf cf-btc"></em> BTC - LINK</option>
                                            </select>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div><!-- .row -->
                <div class="row">
                    <div class="main-content col-lg-8">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Strategy</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <label class="input-item-label text-exlight">Strategy</label>
                                            <div class="row guttar-15px">
                                                <div class="col-6">
                                                    <div class="pay-option">
                                                        <input class="pay-option-check" type="radio" id="long" name="payOption" checked>
                                                        <label class="pay-option-label" for="long">
                                                            <span class="pay-title"><span class="pay-cur">Long</span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="pay-option">
                                                        <input class="pay-option-check" type="radio" id="short" name="payOption">
                                                        <label class="pay-option-label" for="short">
                                                            <span class="pay-title"><span class="pay-cur">Short</span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label class="input-item-label text-exlight">Profit Currency</label>
                                            <div class="row guttar-15px">
                                                <div class="col-6">
                                                    <div class="pay-option">
                                                        <input class="pay-option-check" type="radio" id="quote" name="payOption" checked>
                                                        <label class="pay-option-label" for="quote">
                                                            <span class="pay-title"><span class="pay-cur">Quote</span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="pay-option">
                                                        <input class="pay-option-check" type="radio" id="base" name="payOption" checked="">
                                                        <label class="pay-option-label" for="base">
                                                            <span class="pay-title"><span class="pay-cur">Base</span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="input-item-label text-exlight">Base order size</label>
                                        <div class="token-pay-amount" style="width: 100%;">
                                            <input id="token-base-amount" class="input-bordered input-with-hint" type="text" value="1">
                                            <div class="token-pay-currency">
                                                <a href="#" class="link ucap link-light toggle-tigger toggle-caret">ETH</a>
                                                <div class="toggle-class dropdown-content">
                                                    <ul class="dropdown-list">
                                                        <li><a href="#">BTC</a></li>
                                                        <li><a href="#">LTC</a></li>
                                                        <li><a href="#">USD</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="input-item-label text-exlight">Safety order size</label>
                                        <div class="token-pay-amount" style="width: 100%;">
                                            <input id="token-base-amount2" class="input-bordered input-with-hint" type="text" value="1">
                                            <div class="token-pay-currency">
                                                <a href="#" class="link ucap link-light toggle-tigger toggle-caret">BTC</a>
                                                <div class="toggle-class dropdown-content">
                                                    <ul class="dropdown-list">
                                                        <li><a href="#">BTC</a></li>
                                                        <li><a href="#">LTC</a></li>
                                                        <li><a href="#">USD</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label class="input-item-label text-exlight">Start order type</label>
                                        <div class="row guttar-15px">
                                            <div class="col-6">
                                                <div class="pay-option">
                                                    <input class="pay-option-check" type="radio" id="market" name="payOption" checked>
                                                    <label class="pay-option-label" for="market">
                                                        <span class="pay-title"><span class="pay-cur">Market</span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="pay-option">
                                                    <input class="pay-option-check" type="radio" id="limit" name="payOption" checked="">
                                                    <label class="pay-option-label" for="limit">
                                                        <span class="pay-title"><span class="pay-cur">Limit</span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- .row -->
                <div class="row">
                    <div class="main-content col-lg-8">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Deal start condition</h4>
                                </div>
                                <div class="input-item input-with-label">
                                    <div class="select-wrapper">
                                        <select class="input-bordered">
                                            <option value="option-one">Open new trade asap</option>
                                            <option value="option-one">Open new trade asap</option>
                                            <option value="option-one">Open new trade asap</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <button class="btn btn-xs btn-primary flex-fill">+</button>
                        </div>
                    </div>

                </div><!-- .row -->
                <div class="row">
                    <div class="main-content col-lg-8">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Take profit</h4>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label"><label class="input-item-label text-exlight">Target Profit</label><input type="number" value="0.00" class="input-bordered"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Target Profit type</label>
                                            <div class="select-wrapper">
                                                <select class="input-bordered">
                                                    <option value="option-one">Percentage from total volume</option>
                                                    <option value="option-two">Option Two</option>
                                                    <option value="option-three">Option Three</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label class="input-item-label text-exlight">Trailing</label>
                                        <div class="row guttar-15px">
                                            <div class="col-6">
                                                <div class="pay-option">
                                                    <input class="pay-option-check" type="radio" id="on" name="payOption" checked>
                                                    <label class="pay-option-label" for="on">
                                                        <span class="pay-title"><span class="pay-cur">ON</span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="pay-option">
                                                    <input class="pay-option-check" type="radio" id="of" name="payOption" >
                                                    <label class="pay-option-label" for="of">
                                                        <span class="pay-title"><span class="pay-cur">OF</span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div><!-- .row -->
                <div class="row">
                    <div class="main-content col-lg-8">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Safety orders</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label text-exlight">Max Safety trade count</label>
                                            <div class="slidecontainer">
                                                <input type="range" min="1" max="100" value="20" class="input-bordered" id="maxsafety">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label text-exlight">Max active safety trade count</label>
                                            <div class="slidecontainer">
                                                <input type="range" min="1" max="100" value="2" class="input-bordered" id="maxsafetytrade">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-item input-with-label">
                                    <label class="input-item-label text-exlight">Price deviation to open safety orders (% from initial orders)</label>
                                    <div class="slidecontainer">
                                        <input type="range" min="1" max="100" value="20" class="input-bordered" id="deviation">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label text-exlight">Safety order volume</label>
                                            <div class="slidecontainer">
                                                <input type="range" min="1" max="100" value="20" class="input-bordered" id="safetyorder">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label text-exlight">Safety order step scale</label>
                                            <div class="slidecontainer">
                                                <input type="range" min="1" max="100" value="2" class="input-bordered" id="safetyorderstep">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div><!-- .row -->
                <div class="row">
                    <div class="main-content col-lg-8">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Advanced Settings</h4>
                                </div>
                                <div class="input-item input-with-label">
                                    <label class="input-item-label text-exlight">Don't start deal(s) if the daily volume is less than </label>
                                    <div class="token-pay-amount" style="width: 100%;">
                                        <input id="token-base-volume" class="input-bordered input-with-hint" type="text" value="0.00">
                                        <div class="token-pay-currency">
                                            <a href="#" class="link ucap link-light toggle-tigger toggle-caret">BTC</a>
                                            <div class="toggle-class dropdown-content">
                                                <ul class="dropdown-list">
                                                    <li><a href="#">BTC</a></li>
                                                    <li><a href="#">LTC</a></li>
                                                    <li><a href="#">USD</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <label class="input-item-label text-exlight">Stop Loss</label>
                                        <div class="row guttar-15px">
                                            <div class="col-6">
                                                <div class="pay-option">
                                                    <input class="pay-option-check" type="radio" id="offloss" name="payOption" checked>
                                                    <label class="pay-option-label" for="offloss">
                                                        <span class="pay-title"><span class="pay-cur">OFF</span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="pay-option">
                                                    <input class="pay-option-check" type="radio" id="onloss" name="payOption" checked="">
                                                    <label class="pay-option-label" for="onloss">
                                                        <span class="pay-title"><span class="pay-cur">ON</span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6"><div class="input-item input-with-label"><label class="input-item-label text-exlight">Minimum price to open deal</label><input type="number" value="0.00" class="input-bordered"></div></div>
                                    <div class="col-md-6"><div class="input-item input-with-label"><label class="input-item-label text-exlight">Maximum price to open deal</label><input type="number" value="0.00" class="input-bordered"></div></div>
                                    <div class="col-md-6"><div class="input-item input-with-label"><label class="input-item-label text-exlight">Cooldown between deals</label><input type="number" value="0.00" class="input-bordered"></div></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- .row -->

            </div><!-- .container -->
        </div><!-- .page-content -->
        <footer1></footer1>
    </div>
</template>

<script>
    import header1 from "./header1.template";
    import footer1 from "./footer1.template";

    export default {
        name: 'comments',
        components: {
            'header1':header1,
            'footer1':footer1
        },
        data() {
            return {
                user: {},
                group: {},
            }
        },
        mounted() {



        },
        methods: {

        },

        created() {


        }
    };
</script>