<template>
    <div>
        <header1></header1>

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="main-content col-lg-12">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Exchange</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label for="full-name" class="input-item-label">Name</label>
                                            <input class="input-bordered" type="text" id="full-name" name="full-name" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label for="full-name" class="input-item-label">Exchange</label>
                                            <div class="select-wrapper">
                                                <select class="input-bordered">
                                                    <option value="option-one">Binance</option>
                                                    <option value="option-two">bcc</option>
                                                    <option value="option-three">etc</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label for="full-name" class="input-item-label">API Key:</label>
                                            <input class="input-bordered" type="text"  name="full-name" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <label for="full-name" class="input-item-label">API Secret</label>
                                            <input class="input-bordered" type="text"  name="full-name" value="">
                                        </div>
                                    </div>
                                    <button class="btn  btn-primary">Add Account</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- .row -->
                <div class="row">

                    <div class="col-lg-12">
                        <div class="token-information card card-full-height">
                            <div class="row no-gutters height-100">
                                <div class="col-xl-8 col-lg-7">
                                    <div class="card-innr">
                                        <div class="card-head has-aside">
                                            <h4 class="card-title">Binance</h4>
                                            <div class="card-opt">
                                                <a href="#" class="link ucap link-light toggle-tigger toggle-caret">7 Days</a>
                                                <div class="toggle-class dropdown-content">
                                                    <ul class="dropdown-list">
                                                        <li><a href="#">30 days</a></li>
                                                        <li><a href="#">1 years</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chart-tokensale"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                            <canvas id="tknSale" width="670" height="190" style="display: block; width: 670px; height: 190px;"></canvas>
                                        </div>
                                    </div><!-- .card -->
                                </div><!-- .col -->
                                <div class="col-md-2">
                                    <div class="token-info bdr-tl">
                                        <p class="card-title-text text-center">Total Portfolio Value</p>
                                        <div>
                                            <ul class="token-info-list">
                                                <li><span>BTC</span>0.031</li>
                                                <li><span>USD</span>271</li>
                                            </ul>
                                            <a href="#" class="btn btn-xs btn-primary">Sell to BTC</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="token-info bdr-tl">
                                        <p class="card-title-text text-center">24hr Change</p>
                                        <div>
                                            <ul class="token-info-list">
                                                <li><span>BTC</span>0.031</li>
                                                <li><span>USD</span>271</li>
                                            </ul>
                                            <a href="#" class="btn btn-xs btn-primary">Sell to USD</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .container -->
        </div><!-- .page-content -->
        <footer1></footer1>
    </div>
</template>

<script>
    import header1 from "./header1.template";
    import footer1 from "./footer1.template";

    export default {
        name: 'comments',
        components: {
            'header1':header1,
            'footer1':footer1
        },
        data() {
            return {
                user: {},
                group: {},
            }
        },
        mounted() {



        },
        methods: {

        },

        created() {


        }
    };
</script>