<template>
    <div>
        <header1></header1>

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="main-content col-lg-12">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Exchange</h4>
                                </div>
                                <div class="card-text">
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label">
                                            <div class="select-wrapper">
                                                <select class="input-bordered">
                                                    <option value="option-one">asa</option>
                                                    <option value="option-two">bcc</option>
                                                    <option value="option-three">etc</option>
                                                </select>
                                            </div>
                                        </div>
                                        <ul class="token-info-list"><li><span>BTC</span>0.031</li><li><span>USD</span>271</li></ul>
                                        <ul class="d-flex flex-wrap checkbox-list">
                                            <li>
                                                <div class="input-item text-left">
                                                    <input class="input-checkbox input-checkbox-sm" id="cma-email" type="checkbox">
                                                    <label for="cma-email">TradeView</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input-item text-left">
                                                    <input class="input-checkbox input-checkbox-sm" id="cma-sms" type="checkbox">
                                                    <label for="cma-sms">Signals</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="input-item text-left">
                                                    <input class="input-checkbox input-checkbox-sm" id="cma-phone" type="checkbox">
                                                    <label for="cma-phone">Trade ternimal</label>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="token-calc">

                                            <div class="token-received">
                                                <div class="token-eq-sign">Trading Pair</div>
                                            </div>
                                            <div class="token-pay-amount">
                                                <input id="token-base-amount" class="input-bordered input-with-hint" type="text" value="1">
                                                <div class="token-pay-currency">
                                                    <a href="#" class="link ucap link-light toggle-tigger toggle-caret">ETH</a>
                                                    <div class="toggle-class dropdown-content">
                                                        <ul class="dropdown-list">
                                                            <li><a href="#">BTC</a></li>
                                                            <li><a href="#">LTC</a></li>
                                                            <li><a href="#">USD</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-content col-lg-12">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                </div>
                                <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#personal-data">Buy/Sell</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#settings">Smart Trade</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#password">Smart Sell</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#password">Smart Cover</a>
                                    </li>
                                </ul><!-- .nav-tabs-line -->
                                <div class="tab-content" id="profile-details">
                                    <div class="tab-pane fade show active" id="personal-data">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h4>Buy</h4>
                                                    <div class="input-item input-with-label">
                                                        <label for="full-name" class="input-item-label">Units</label>
                                                        <input class="input-bordered" type="number" id="full-name" name="full-name" value="0.00">
                                                    </div><!-- .input-item -->
                                                    <div class="input-item input-with-label">
                                                        <label for="full-name" class="input-item-label">Price</label>
                                                        <input class="input-bordered" type="number" id="full-name" name="full-name" value="0.00">
                                                    </div><!-- .input-item -->
                                                    <div class="input-item input-with-label">
                                                        <label for="full-name" class="input-item-label">Total</label>
                                                        <input class="input-bordered" type="number" id="full-name" name="full-name" value="0.00">
                                                    </div><!-- .input-item -->
                                                    <div class="token-currency-choose">
                                                        <div class="row guttar-15px">
                                                            <div class="col-2">
                                                                <div class="pay-option">
                                                                    <input class="pay-option-check" type="radio" id="pay100" name="payOption" checked="">
                                                                    <label class="pay-option-label" for="pay100">
                                                                        <span class="pay-title"><span class="pay-cur">100%</span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="pay-option">
                                                                    <input class="pay-option-check" type="radio" id="pay5" name="payOption">
                                                                    <label class="pay-option-label" for="pay5">
                                                                        <span class="pay-title"><span class="pay-cur">5%</span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="pay-option">
                                                                    <input class="pay-option-check" type="radio" id="pay10" name="payOption">
                                                                    <label class="pay-option-label" for="pay10">
                                                                        <span class="pay-title"><span class="pay-cur">10%</span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="pay-option">
                                                                    <input class="pay-option-check" type="radio" id="pay25" name="payOption">
                                                                    <label class="pay-option-label" for="pay25">
                                                                        <span class="pay-title"><span class="pay-cur">25%</span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="pay-option">
                                                                    <input class="pay-option-check" type="radio" id="pay50" name="payOption">
                                                                    <label class="pay-option-label" for="pay50">
                                                                        <span class="pay-title"><span class="pay-cur">50%</span></span>
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <button class="btn btn-primary flex-fill">Buy</button>
                                                        </div><!-- .row -->
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h4>Sell</h4>
                                                    <div class="input-item input-with-label">
                                                        <label for="full-name" class="input-item-label">Units</label>
                                                        <input class="input-bordered" type="number" id="units" name="full-name" value="0.00">
                                                    </div><!-- .input-item -->
                                                    <div class="input-item input-with-label">
                                                        <label for="full-name" class="input-item-label">Price</label>
                                                        <input class="input-bordered" type="number" id="price" name="full-name" value="0.00">
                                                    </div><!-- .input-item -->
                                                    <div class="input-item input-with-label">
                                                        <label for="full-name" class="input-item-label">Total</label>
                                                        <input class="input-bordered" type="number" id="total" name="full-name" value="0.00">
                                                    </div><!-- .input-item -->
                                                    <div class="token-currency-choose">
                                                        <div class="row guttar-15px">
                                                            <div class="col-2">
                                                                <div class="pay-option">
                                                                    <input class="pay-option-check" type="radio" id="payl100" name="payOption" checked="">
                                                                    <label class="pay-option-label" for="payl100">
                                                                        <span class="pay-title"><span class="pay-cur">100%</span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="pay-option">
                                                                    <input class="pay-option-check" type="radio" id="payl5" name="payOption">
                                                                    <label class="pay-option-label" for="payl5">
                                                                        <span class="pay-title"><span class="pay-cur">5%</span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="pay-option">
                                                                    <input class="pay-option-check" type="radio" id="payl10" name="payOption">
                                                                    <label class="pay-option-label" for="payl10">
                                                                        <span class="pay-title"><span class="pay-cur">10%</span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="pay-option">
                                                                    <input class="pay-option-check" type="radio" id="payl25" name="payOption">
                                                                    <label class="pay-option-label" for="payl25">
                                                                        <span class="pay-title"><span class="pay-cur">25%</span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <div class="pay-option">
                                                                    <input class="pay-option-check" type="radio" id="payl50" name="payOption">
                                                                    <label class="pay-option-label" for="payl50">
                                                                        <span class="pay-title"><span class="pay-cur">50%</span></span>
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <button class="btn btn-danger flex-fill">Sell</button>
                                                        </div><!-- .row -->
                                                    </div>
                                                </div>
                                            </div><!-- .row -->
                                            <div class="gaps-1x"></div><!-- 10px gap -->
                                        </form><!-- form -->
                                    </div><!-- .tab-pane -->
                                </div><!-- .tab-content -->
                            </div><!-- .card-innr -->
                        </div><!-- .card -->
                    </div>

                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .page-content -->
        <footer1></footer1>
    </div>
</template>

<script>
    import header1 from "./header1.template";
    import footer1 from "./footer1.template";

    export default {
        name: 'comments',
        components: {
            'header1':header1,
            'footer1':footer1
        },
        data() {
            return {
                user: {},
                group: {},
            }
        },
        mounted() {



        },
        methods: {

        },

        created() {


        }
    };
</script>