<template>
    <div>
        <header1></header1>

        <div class="page-content">
            <div class="container">
                <div class="card-head">
                    <h2 class="card-title">Trade Diary</h2>
                </div>
                <div class="row">
                    <div class="main-content col-lg-12">
                        <div class="content-area card">
                            <div class="card-innr">
                                <div class="card-head">
                                    <h4 class="card-title">Filters</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-item input-with-label">
                                            <label  class="input-item-label">Account</label>
                                            <div class="select-wrapper">
                                                <select class="input-bordered">
                                                    <option value="option-one">All</option>
                                                    <option value="option-two">bcc</option>
                                                    <option value="option-three">etc</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Pair</label>
                                            <div class="select-wrapper">
                                                <select class="input-bordered">
                                                    <option value="option-one">All</option>
                                                    <option value="option-two">bcc</option>
                                                    <option value="option-three">etc</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Created at</label>
                                            <div class="relative">
                                                <input class="input-bordered date-picker" value="05/22/2019" type="text" id="date-of-birth" name="date-of-birth">
                                                <span class="input-icon input-icon-right date-picker-icon"><em class="ti ti-calendar"></em></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-item input-with-label">
                                            <label class="input-item-label">Closed at</label>
                                            <div class="relative">
                                                <input class="input-bordered date-picker" value="05/22/2019" type="text" id="closed-at" name="date-of-birth">
                                                <span class="input-icon input-icon-right date-picker-icon"><em class="ti ti-calendar"></em></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- .row -->
                <div class="row">
                    <div class="container">
                        <div class="card content-area">
                            <div class="card-innr">
                                <div class="card-head">
                                    <div class="col-md-3">
                                        <div class="input-item input-with-label">
                                            <input class="input-bordered" type="text" id="full-name" name="full-name" value="Search">
                                        </div>
                                    </div>
                                </div>
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div><table class="data-table dt-init user-tnx dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                    <tr class="data-item data-head" role="row"><th class="data-col dt-tnxno sorting_disabled" rowspan="1" colspan="1">Pair, Exchange</th><th class="data-col dt-token sorting_disabled" rowspan="1" colspan="1">Open date</th><th class="data-col dt-amount sorting_disabled" rowspan="1" colspan="1">Close date</th><th class="data-col dt-usd-amount sorting_disabled" rowspan="1" colspan="1">Result</th><th class="data-col dt-account sorting_disabled" rowspan="1" colspan="1">P/L</th><th class="data-col dt-type sorting_disabled" rowspan="1" colspan="1"><div class="dt-type-text">NOTES</div></th><th class="data-col sorting_disabled" rowspan="1" colspan="1"></th></tr>
                                    </thead>
                                    <tbody>
                               </tbody>
                                </table></div><div class="row align-items-center"><div class="col-sm-6 text-left"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Prev</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li></ul></div></div><div class="col-sm-6 text-sm-right"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">1 -5 of 8</div></div></div></div>
                            </div><!-- .card-innr -->
                        </div><!-- .card -->
                    </div>
                </div>
            </div><!-- .container -->
        </div><!-- .page-content -->
        <footer1></footer1>
    </div>
</template>

<script>
    import header1 from "./header1.template";
    import footer1 from "./footer1.template";

    export default {
        name: 'comments',
        components: {
            'header1':header1,
            'footer1':footer1
        },
        data() {
            return {
                user: {},
                group: {},
            }
        },
        mounted() {



        },
        methods: {

        },

        created() {


        }
    };
</script>